@page "/word-document"
@rendermode InteractiveServer

@using MudBlazorWeb2.Components.Modules._Shared
@using MudBlazorWeb2.Components.Modules.MakingWord

@using System.Text
@using Oracle.ManagedDataAccess.Client

@inject IJSRuntime JsRuntime

<PageTitle>🖍 Create Word</PageTitle>

<MudContainer>
    <MudText Typo="Typo.h5">Оформление АЖ => 🖍 + 📃</MudText>
    <MudDivider />
    <br />

    <ConnectionSettings colorButton="@colorTag" OnSettingsChanged="OnSettingsChanged" SettingsDbList="@SettingsDbList" FileSettingsDb="@FileSettingsDb" />

    <MudText Style="display: flex; justify-content=start;">
        <MudText Style="display: flex; align-items: center;">
            <MudText>Введите номер поля <b>Ключ</b></MudText>
            <MudNumericField @bind-Value="Id" Label="Ключ записи" Variant="Variant.Outlined" Min="0" Step="1" Style="height: 35px; width: 120px;" Class="ml-3" />
        </MudText>

        <MudText Style="display: flex; align-items: center; float: left; margin-left: 30px;">
            <MudIconButton Icon="@Icons.Material.Filled.PlayCircleFilled" Color="@colorTag" OnClick="QueryRecordById" Size="Size.Large" />
            @if (speechData != null && speechData.Count > 0 && speechData.FirstOrDefault().Id == Id)
            {
                <MudButton OnClick="@(e => GenerateWord())" Variant="Variant.Filled" Color="@colorTag" Class="ml-3">💾</MudButton>    
            }
            <MudText Color="@colorTag">&emsp; @message</MudText>
        </MudText>
    </MudText>



    @if (speechData != null && speechData.Count > 0 && speechData.FirstOrDefault().Id == Id)
    {
        <MudDivider />
        <WaveFormPlayer FileName="@fileNameForSaveAudioViaPlayer" AudioDataLeft="speechData?.FirstOrDefault()?.AudioF" AudioDataRight="speechData?.FirstOrDefault()?.AudioR" />
        <br />

        <MudTable Style="min-width: 525px;" Items="@speechData" Dense="true" Hover="true" Bordered="true" Striped="true">
            <HeaderContent >
                @foreach (var header in ColumnHeaders)
                {
                    <MudTh Style="line-height: 0.9rem !important;">@header</MudTh>
                }
            </HeaderContent>
            <RowTemplate >
                <MudTd >@context.Id</MudTd>
                <MudTd>@context.Datetime</MudTd>
                <MudTd>@context.Duration.ToString().TrimStart('+').Trim('0').TrimEnd('.')</MudTd>
                <MudTd>@context.Talker</MudTd>
                <MudTd>@context.Usernumber</MudTd>
                <MudTd>
                    @switch (context.Calltype)
                    {
                        case 1: @:Исходящий
                            break;
                        case 0: @:Входящий
                            break;
                        default: @:Неизвестно
                            break;
                    }
                </MudTd>
                <MudTd>@context.Cid</MudTd>
                <MudTd>@context.Lac</MudTd>
                <MudTd>@context.Basestation</MudTd>
                <MudTd>@context.Belong</MudTd>
                <MudTd>@context.Sourcename</MudTd>
                <MudTd>@context.Deviceid</MudTd>
            </RowTemplate>
        </MudTable>

        try
        {
            string decodedComment = Encoding.GetEncoding("windows-1251").GetString(speechData.FirstOrDefault().Comment);
            <br />
            <pre style="white-space: pre-wrap">@decodedComment.TrimStart('0', '1', '2', '3', '4', '5', '.').Trim().Replace("\n\n", "\n")</pre>
        }
        catch (Exception ex)
        {
            <p>Ошибка декодирования комментария: @ex.Message</p>
        }
    }
    else if (IsSkeleton)
    {
        <Skeleton />
    }

</MudContainer>

@code {

    string fileNameForSaveAudioViaPlayer = "";
    bool IsSkeleton = false;

    MudBlazor.Color colorTag = Color.Success;
    List<SettingsDb> SettingsDbList = null;

    private string conStringDBA = "";
    private string Scheme = "";
    private string FileSettingsDb = "";
    private string message = ""; // Сообщение об ошибке
    private List<SpeechData> speechData = null;

    long? Id = 0;
    List<string> ColumnHeaders = new() { "Ключ", "Дата/время", "Длительность", "Собеседник", "Пользовательский номер", "Тип вызова", "CID", "LAC", "Базовая станция", "Принадлежность (язык оригинала)", "Имя источника (оператор)", "Устройство" };

    protected override async Task OnInitializedAsync()
    {
        // dotnet add package System.Text.Encoding.CodePages // Регистрация провайдера кодировок
        Encoding.RegisterProvider(CodePagesEncodingProvider.Instance);
        speechData = new List<SpeechData>();
        await LoadSettingsFromFile();
    }

    private async Task LoadSettingsFromFile()
    {
        string filePath = Path.Combine(AppContext.BaseDirectory, "settingsApp.json");
        var doSettings = new SimpleJson<SettingsDb>(filePath);
        await doSettings.LoadItemsAsync();

        var settingsDb = doSettings.GetItems().FirstOrDefault();

        //settingsDB = SettingsService.GetSettings();
        //Scheme = settingsDb.Scheme;
        Scheme = "test";
        conStringDBA = "";//$"User Id={settingsDb.User};Password={settingsDb.Password};Data Source={settingsDb.ServerAddress};";
        await Task.Delay(1);
        StateHasChanged();
    }

    private async Task OnSettingsChanged()
    {
        await LoadSettingsFromFile();
        Console.WriteLine("Настройки подключения к БД для создания Word изменились");
    }

    private async Task QueryRecordById()
    {
        IsSkeleton = true;
        speechData = null;
        await LoadSettingsFromFile();
        ConsoleCol.WriteLine("conStringDBA: " + conStringDBA + "\nScheme: " + Scheme, ConsoleColor.Blue);

        try 
        {
            speechData = await DbQuery.GetSpeechDataByIdAsync(Id, Scheme, conStringDBA);
            ///////////////
            var ind = speechData.FirstOrDefault();
            string? durationString = ind.Duration.ToString();
            if (durationString.StartsWith("+00"))
            {
                durationString = durationString.Substring(3); // Удалить "+00" с начала
            }
            if (durationString.EndsWith(".000000"))
            {
                durationString = durationString.Substring(0, durationString.Length - 7); // Удалить ".000000" с конца
            }
            fileNameForSaveAudioViaPlayer = $"" + ind.Datetime.ToString() + "_" + durationString + "_" + ind.Sourcename + "_" + ind.Usernumber + "_" + ind.Talker + "_" + ind.Lac + "_" + ind.Cid + "_" + ind.Basestation + ".wav";
            ///////////////////
            if (speechData != null)
            {
                Console.WriteLine("Id = " + Id);
                message = "";
            }
            else
            {
                message = $"Ключ записи №{Id} не существует ";
                Console.WriteLine($"Ключ записи не существует Id: {Id}");
            }
            IsSkeleton = false;
        }
        catch (OracleException ex)
        {
            message = $"Ошибка Oracle: {ex.Message}, проверьте имя Схемы";
            Console.WriteLine($"Ошибка Oracle: {ex.Message}");
        }
        catch (Exception ex)
        {
            message = $"Ошибка: {ex.Message}";
            Console.WriteLine($"Ошибка: {ex.Message}");
        }
        finally
        {
            StateHasChanged();
        }
    }

    private async Task GenerateWord()
    {
        if (speechData.FirstOrDefault() is { } data)
        {
            using var stream = SpireDoc.GenerateWord(data, Path.Combine(AppContext.BaseDirectory, "pattern.docx"));
            var base64 = Convert.ToBase64String(stream.ToArray());
            await JsRuntime.InvokeVoidAsync("downloadFile", "Document.docx", base64);
        }
    }

}
